body {
  margin: 1 rem;
}

#no {
  padding: 15px;
}

#sig,
#huh {
  font-size: 40px;
  line-height: 40px;
}

#know {
  font-size: 40px;
  word-spacing: 20px;
  line-height: 60px;
  margin: 15px;
}

#haha {
  color: white;
  font-size: 40px;
}

#crow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
